<div class="container">
  <!--<a routerLink="/auth">foo</a>-->
  <div style="text-align: center;">
    <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap="10px">
      <div>
        <img src="../../assets/knight.png"/>
      </div>
      <div>
        <h1 style="text-align: center" class="title">MovieKnight</h1>
        <h4 style="text-align: center;" class="subtitle">Your film search ends here</h4>
      </div>
    </div>
    <button mat-raised-button color="primary" routerLink="event/new">Create Event</button>
    <div class="card-container">
      <mat-card class="medium-purple">
        <h2><b>How it works:</b></h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </mat-card>
    </div>
  </div>
  <h4 style="text-align: center; margin-top: 100px;" class="subtitle">Public Events</h4>
</div>
