.title {
  font-size: 80px;
  padding-bottom: 0;
  margin-bottom: 0;

}

.subtitle {
  padding-top: 0;
  margin-top: 15px;
  font-size: 30px;
}

.card-container {
  margin-top: 40px;
  width: 80%;
  margin-left: 10%;
}
