<div class="container">
  <h4 class="subtitle">Share Now</h4>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
    <mat-card fxShow fxHide.xs="true" fxFlex="50%">
      <h2><b>Now ask your friends to join you in the fight against indecision!</b></h2>
      <p>Use the admin link to check how many fighters have voted, and to calculate recommendations when you have enough votes.</p>
      <p>Share the participant link with your army to allow them to share their film likes and genre preferences.</p>
    </mat-card>

    <mat-card fxShow fxFlex="50%" fxFlex.xs="100%">
      <h2 style="text-align: center;">Sharing Links</h2>
      <h4 style="margin: 0;">Admin Link: &nbsp;</h4>
      <mat-form-field>
        <input matInput value="{{getLocation()}}" />
      </mat-form-field>
      <br>
      <br>
      <h4 style="margin: 0;">Voting Link: &nbsp;</h4>
      <mat-form-field>
        <input matInput value="{{getShareLink()}}" />
      </mat-form-field>
      <br>
      <a mat-raised-button style="float: right;" color="accent" href="http://site.com/event/9386810">Vote Now</a>
    </mat-card>
  </div>
  <br>
  <button mat-raised-button color="accent" routerLink="/event/new">Back</button>
</div>
