<div class="container">
  <h4 class="subtitle">Create a New Event</h4>

  <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px">
    <mat-card fxShow fxHide.xs="true" fxFlex="50%">
      <h2><b>Create an event to find your next movie</b></h2>
      <p>this is some content</p>
      <img src="../../assets/knight.png"/>
    </mat-card>

    <mat-card fxShow fxFlex="50%" fxFlex.xs="100%">
      <form [formGroup]="form" (ngSubmit)="submit()">
        <mat-form-field>
          <input matInput formControlName="title" placeholder="Event title" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <textarea matInput formControlName="description" placeholder="Description" ></textarea>
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="user_limit" type="number" placeholder="Max responses" />
        </mat-form-field>
        <br>
        <mat-form-field>
          <input matInput formControlName="email" type="email" placeholder="Email" />
        </mat-form-field>
        <br>
        <mat-checkbox formControlName="public">Public</mat-checkbox>
        <br>
        <br>
        <button mat-raised-button style="float: right;" color="accent" type="submit">Create Event</button>
      </form>
    </mat-card>
  </div>
  <br>
  <button mat-raised-button color="accent" routerLink="/">Back</button>
</div>
